<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		h5 {
			margin: 0;
			display: inline-block;
		}

		div {
			width: 50%;
			padding: 5px;
			border: 1px solid black;
		}

		span{
			float: right;
			padding-left: 10%;
			font-size: 12px;
		}

	</style>

</head>
<body>
	<h1><%=name%> by <%=owner.name%></h1>
	<img src="<%=image%>">
			<% tracks.forEach((track) => { %>
			<div>
				<h5><%=track.name%></h5>
				<span> <%= track.artists[0].name%></span>
			</div>
		<% }) %>



</body>
</html>